@use '@/app/assets/scss/utils' as *;

.textarea-field__label {
  color: $dark-2;
  @include font(1.125rem, 600, 144%);
  display: block;
}

.textarea-field__input {
  display: block;
  width: 100%;
  border-bottom: 1px solid $dark;
  @include padding-vertical(1.25rem);
  resize: vertical;
  height: 3.9375rem;

  &::placeholder {
    color: $dark-4;
  }
}

.textarea-field {
  grid-column: 1 / span 2;
}

@media screen and (max-width: $tablet) {
  .textarea-field {
    grid-column: auto;
  }
}

@media screen and (max-width: $mobile) {
  .textarea-field__input {
    height: auto;
  }
}
