@use '@/app/assets/scss/utils' as *;

.project-hero {
  background-color: $gray-6;
}

.project-hero__container {
  @include flex(column);
  gap: 5rem;
  padding-top: 7.5rem;
}

.project-hero__content {
  max-width: 71.25rem;
  @include flex(column, center, center);
  align-self: center;
  gap: 1.5rem;
  @include padding-horizontal($padding-hr-desktop);
}

.project-hero__title-wrapper {
  overflow: hidden;
}

.project-hero__title {
  @include font(5.625rem, 500, 104%);
  text-align: center;
}

.project-hero__link {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 0.5rem;
  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.project-hero__link-text {
  @include font(1.125rem, 600, 144%);
  text-align: center;
}

.project-hero__icon {
  @include size(1.5rem);
}

@media screen and (max-width: $desktop-md) {
  .project-hero__container {
    padding-top: 4.375rem;
  }
}

@media screen and (max-width: $desktop-sm) {
  .project-hero__content {
    @include padding-horizontal($padding-hr-tablet);
  }

  .project-hero__title {
    @include font(3.5rem, 500, 107%);
  }
}

@media screen and (max-width: $tablet) {
  .project-hero__content {
    @include padding-horizontal($padding-hr-mobile);
  }
}

@media screen and (max-width: $mobile) {
  .project-hero__title {
    @include font(2.625rem, 500, 119%);
  }
}
