@use '@/app/assets/scss/utils' as *;

.text-field__label {
  color: $dark-2;
  @include font(1.125rem, 600, 144%);
  display: block;
}

.text-field__input {
  display: block;
  width: 100%;
  border-bottom: 1px solid $dark;
  @include padding-vertical(1.25rem);

  &::placeholder {
    color: $dark-4;
  }
}
