@use '@/app/assets/scss/utils' as *;

.gallery__container {
  @include padding-horizontal($padding-hr-desktop);
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.25rem;
}

.gallery__image {
  max-height: 42.5rem;
  width: 100%;
  border-radius: 0.75rem;

  &:last-child:nth-child(odd) {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: $desktop-md) {
  .gallery__container {
    @include padding-horizontal(0);
  }

  .gallery__image {
    border-radius: 0;
  }
}

@media screen and (max-width: $desktop-sm) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }

  .gallery__image {
    &:last-child:nth-child(odd) {
      grid-column: 1 / span 1;
    }
  }
}
