@use '@/app/assets/scss/utils' as *;

.message {
  position: fixed;
  z-index: 9999;
  top: 1.25rem;
  align-self: center;
  @include padding-horizontal(1rem);
}

.message__container {
  padding: 0.9375rem 1.125rem;
  @include flex(row, center, center);
  gap: 0.75rem;
  border-radius: 0.5rem;
}

.message__icon {
  @include size(1.25rem);
}

.message__text {
  @include font(1rem, 500, 150%);
}
