@use '@/app/assets/scss/utils' as *;

.hero__container {
  @include padding-horizontal($padding-hr-desktop);
  @include padding-vertical(1.5625rem, 2.5rem);
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.25rem;
  min-height: 17.625rem;
}

.hero__title {
  @include font(5.625rem, 500, 104%);
  min-width: 34.375rem;
  position: relative;
  z-index: 2;
}

.hero__details {
  @include padding-vertical(1.25rem);
  @include flex(column);
  gap: 0.75rem;
}

.hero__paragraph {
  @include font(1rem, 400, 144%);
}

.hero__box {
  margin-top: -4.6875rem;
  position: relative;
}

@media screen and (max-width: $desktop-md) {
  .hero__details {
    @include padding-vertical(0rem);
  }

  .hero__box {
    margin-top: -4.0625rem;
  }
}

@media screen and (max-width: $desktop-sm) {
  .hero__container {
    @include padding-horizontal($padding-hr-tablet);
    @include padding-vertical(1.375rem, 1.875rem);
  }

  .hero__box {
    margin-top: 0.9375rem;
  }

  .hero__title {
    @include font(3.5rem, 500, 107%);
    min-width: auto;
    max-width: 21.25rem;
  }

  .hero__content {
    min-height: auto;
    position: relative;
    z-index: 2;
  }
}

@media screen and (max-width: $tablet) {
  .hero__container {
    @include padding-horizontal($padding-hr-mobile);
    @include padding-vertical(1.375rem, 1.5625rem);
  }

  .hero__box {
    margin-top: -0.9375rem;
  }

  .hero__content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
