@use '../utils' as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  background-color: $white;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Random Grotesque';
}

.wrapper {
  min-height: 100vh;
  max-width: $desktop-md;
  margin: 0 auto;
  position: relative;
}
