@use '@/app/assets/scss/utils' as *;

.hero__list {
  @include flex(row);
  column-gap: 1.5rem;
  position: absolute;
  bottom: 0.9375rem;
  right: 0.625rem;
  z-index: 2;
}

.hero__list-item {
  @include flex(row, center, center);
  gap: 0.625rem;
  @include font(1.1875rem, 600, 137%);

  &:before {
    content: '';
    @include circle(0.5rem);
    border: 1px solid $dark;
  }
}

@media screen and (max-width: $desktop-md) {
  .hero__list {
    width: 35%;
    flex-wrap: wrap;
    bottom: 0rem;
    right: 0rem;
  }
}

@media screen and (max-width: $desktop-sm) {
  .hero__list {
    column-gap: 0.5rem;
  }

  .hero__list-item {
    @include font(1rem, 600, 144%);
    gap: 0.3125rem;
  }
}

@media screen and (max-width: $tablet) {
  .hero__list {
    position: static;
    @include flex(row, space-between);
    width: 100%;
    margin-top: 0.75rem;
    column-gap: 1.25rem;
  }
}

@media screen and (max-width: $mobile) {
  .hero__list {
    row-gap: 0.3125rem;
  }
}
