@use '@/app/assets/scss/utils' as *;

.button-with-arrow {
  min-height: 52px;
  max-width: min-content;
  padding-right: 30px;
  @include flex(row, flex-start, center);
  gap: 12px;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover .button-with-arrow__inner {
    transform: scale(1);
  }

  &:hover .button-with-arrow__arrow {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(242deg)
      brightness(104%) contrast(104%);
  }

  &:hover .button-with-arrow__arrow_light {
    filter: brightness(0) saturate(100%) invert(10%) sepia(5%) saturate(5370%) hue-rotate(174deg)
      brightness(98%) contrast(85%);
  }

  &:hover .button-with-arrow__circle {
    background-color: $dark;
    border: 1px solid $dark;
  }

  &:hover .button-with-arrow__circle_light {
    background-color: $white;
  }
}

.button-with-arrow__text {
  text-wrap: nowrap;
  white-space: nowrap;
  text-transform: uppercase;
  @include font(16px, 500, 22px);
}

.button-with-arrow__circle {
  @include circle(52px);
  @include flex(row, center, center);
  position: relative;
  overflow: hidden;
  border: 1px solid $dark-6;
  background-color: transparent;
  transition: all 0.7s cubic-bezier(0.25, 0.74, 0.22, 0.99);
}

.button-with-arrow__arrow {
  transition: filter 0.7s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  position: absolute;
  z-index: 2;
}

.button-with-arrow__arrow_light {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(242deg)
    brightness(104%) contrast(104%);
}

.button-with-arrow__inner {
  position: absolute;
  @include circle(calc(100% + 30px));
  transition: transform 0.7s cubic-bezier(0.25, 0.74, 0.22, 0.99) 0s;
  transform: scale(0) translate3d(-50%, -50%, 0px);
}

@media screen and (max-width: $tablet) {
  .button-with-arrow {
    padding-right: 0px;
  }

  .button-with-arrow__text_hidden {
    display: none;
  }
}
