@use '../utils' as *;

.contact {
  @include flex(column);
  gap: 40px;
}

.contact__top-part {
  @include flex(column);
  gap: 20px;
}

.contact__title {
  font-family: 'Random Grotesque';
  @include font(90px, 500, 94px);
  color: $dark-2;
}

.contact__contacts {
  @include flex(row);
  gap: 30px;
}

@media screen and (max-width: $tablet) {
  .contact__title {
    @include font(56px, 500, 60px);
  }

  .contact__contacts {
    @include flex(column);
    gap: 20px;
  }
}
