@use '../utils' as *;

.header__dropdown {
  position: relative;
}

.header__dropdown-button {
  @include flex(row, center, center);
  gap: 8px;
  padding: 8px 0;
  cursor: pointer;
}

.header__dropdown-item {
  @include font(16px, 500, 22px);
  text-transform: uppercase;
  font-family: 'Random Grotesque';
  cursor: pointer;
}

.header__dropdown-items {
  @include flex(column);
  gap: 8px;
}

.header__dropdown-content {
  position: absolute;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in;

  &.header__dropdown-content_active {
    max-height: 100px;
    transition: all 0.4s ease-in 0.2s;
  }
}

.header__dropdown-icon {
  @include flex(row, center, center);
  transition: all 0.4s ease;

  &.header__dropdown-icon_active {
    transform: rotate(-180deg);
  }
}

.header__dropdown-line {
  height: 1px;
  background-color: $dark-6;
}
