@use '../utils' as *;

.hero__container {
  @include padding-horizontal($padding-hr-desktop);
  @include padding-vertical(25px, 40px);
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.hero__title {
  @include font(90px, 500, 94px);
  min-width: 550px;
}

.hero__details {
  @include padding-vertical(20px);
  @include flex(column);
  gap: 12px;
}

.hero__paragraph {
  @include font(16px, 400, 23px);
}

.hero__box {
  margin-top: -75px;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: $desktop-md) {
  .hero__details {
    @include padding-vertical(0px);
  }

  .hero__box {
    margin-top: -65px;
  }
}

@media screen and (max-width: $desktop-sm) {
  .hero__container {
    @include padding-horizontal($padding-hr-tablet);
    @include padding-vertical(22px, 30px);
  }

  .hero__box {
    margin-top: 15px;
  }

  .hero__title {
    @include font(56px, 500, 60px);
    min-width: auto;
    max-width: 340px;
  }
}

@media screen and (max-width: $tablet) {
  .hero__container {
    @include padding-horizontal($padding-hr-mobile);
    @include padding-vertical(22px, 25px);
  }

  .hero__box {
    margin-top: -15px;
  }

  .hero__content {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
