@use '../utils' as *;

.portfolio__container {
  @include padding-horizontal($padding-hr-desktop);
  @include padding-vertical(60px);
  @include flex(column);
  gap: 40px;
}

.portfolio__title {
  @include font(56px, 500, 60px);
}

.portfolio__top-panel {
  @include flex(row, space-between, flex-start);
  gap: 100px;
}

.portfolio__tabs {
  @include flex(row);
  flex-wrap: wrap;
  gap: 8px;
}

.portfolio__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 8%;
}

.portfolio__projects-column {
  @include flex(column);
  gap: 80px;
}

.portfolio__projects-column_right {
  padding-top: 210px;
}

.portfolio__button {
  align-self: center;
  width: 110px;
}

@media screen and (max-width: $desktop-sm) {
  .portfolio__container {
    @include padding-horizontal($padding-hr-tablet);
  }

  .portfolio__projects {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .portfolio__projects-column_right {
    padding-top: 0px;
  }

  .portfolio__top-panel {
    @include flex(column-reverse);
    gap: 40px;
  }
}

@media screen and (max-width: $tablet) {
  .portfolio__container {
    @include padding-horizontal($padding-hr-mobile);
  }
}
