@use '../utils' as *;

.info__container {
  @include flex(column, center, center);
  @include padding-horizontal($padding-hr-desktop);
}

.info__grid {
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.info__box {
  @include flex(column);
  gap: 28px;
}

.info__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}

.info__title {
  @include font(42px, 500, 50px);
}

.info__description {
  @include flex(column);
  gap: 12px;
}

.info__description-link {
  text-decoration: underline;
}

.info__description-subtitle {
  font-family: 'Manrope', sans-serif;
  color: $dark-4;
  @include font(16px, 400, 23px);
}

.info__description-paragraph {
  @include font(18px, 600, 26px);
}

@media screen and (max-width: $desktop-sm) {
  .info__container {
    @include padding-horizontal($padding-hr-tablet);
  }

  .info__grid {
    grid-template-columns: 1fr;
  }

  .info__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: $tablet) {
  .info__container {
    @include padding-horizontal($padding-hr-mobile);
  }

  .info__list {
    grid-template-columns: 1fr 1fr;
  }
}
