@use '../utils' as *;

.tab {
  height: 46px;
  width: min-content;
  padding: 10px 24px;
  @include flex(row, center, center);
  border-radius: $border-radius;
  background-color: $gray;
  transition: all 0.5s ease;

  &.tab_selected,
  &:hover {
    background-color: $dark;
    color: $white;

    & .tab__number {
      transition: all 0.5s ease;
      color: $gray-5;
    }
  }
}

.tab__container {
  height: 26px;
  @include flex(row, center, center);
  gap: 4px;
}

.tab__title {
  @include font(18px, 600, 26px);
  text-wrap: nowrap;
  text-transform: capitalize;
}

.tab__number {
  @include font(10px, 400, 18px);
  align-self: flex-start;
}
