@use '@/app/assets/scss/utils' as *;

.hero__video-wrapper {
  clip-path: polygon(
    25% 0,
    100% 0,
    100% 35%,
    100% 85%,
    60% 85%,
    60% 100%,
    0 100%,
    0% 70%,
    0 20%,
    25% 20%
  );
  height: 25.625rem;
  overflow: hidden;
}

.hero__video-filter-svg {
  visibility: hidden;
  position: absolute;
  @include size(0rem);
}

.hero__video-box {
  filter: url('#filter-tag');
}

.hero__video {
  @include size(100%);
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  pointer-events: none;
}

@media screen and (max-width: $desktop-md) {
  .hero__video-wrapper {
    clip-path: polygon(
      25% 0,
      100% 0,
      100% 35%,
      100% 85%,
      63% 85%,
      63% 100%,
      0 100%,
      0% 70%,
      0 20%,
      25% 20%
    );
  }
}

@media screen and (max-width: $tablet) {
  .hero__video-wrapper {
    height: 11.875rem;
  }
}

@media screen and (max-width: $mobile) {
  .hero__video-wrapper {
    height: 10rem;
  }
}
