@use '@/app/assets/scss/utils' as *;

.label {
  height: 2.875rem;
  width: min-content;
  padding: 0.625rem 1.5rem;
  @include flex(row, center, center);
  border-radius: $border-radius;
  background-color: $gray;
  transition: all 0.5s ease;

  &.label_selected,
  &:hover {
    background-color: $dark;
    color: $white;

    & .tab__number {
      transition: all 0.5s ease;
      color: $gray-5;
    }
  }
}

.label__container {
  height: 1.625rem;
  @include flex(row, center, center);
  gap: 0.25rem;
}

.label__title {
  @include font(1.125rem, 600, 144%);
  text-wrap: nowrap;
  white-space: nowrap;
  text-transform: capitalize;
}

.label__number {
  @include font(0.625rem, 400, 180%);
  align-self: flex-start;
}
