$white: #ffffff;

$gray: #f3f4f6;
$gray-2: #f3f4f6;
$gray-3: #e5e7eb;
$gray-4: #dee2e6;
$gray-5: #ced4da;
$gray-6: #c7d1da;

$dark: #111928;
$dark-2: #1f2a37;
$dark-3: #374151;
$dark-4: #4b5563;
$dark-5: #6b7280;
$dark-6: #9ca3af;
$dark-7: #d1d5db;

$border-radius: 2.5rem;

$padding-hr-desktop: 2.5rem;
$padding-hr-tablet: 1.25rem;
$padding-hr-mobile: 1rem;

$desktop-md: 90rem;
$desktop-sm: 64rem;
$tablet: 46.25rem;
$mobile: 26.875rem;
