@use '@/app/assets/scss/utils' as *;

.colors__container {
  @include padding-horizontal($padding-hr-desktop);
}

.colors__grid {
  display: grid;
  grid-template-columns: 320px 320px auto;
  grid-template-rows: auto;
  border-radius: 0.75rem;
  overflow: hidden;
}

.colors__color-box {
  height: 17.1875rem;
  position: relative;

  &:nth-child(5) {
    grid-column: 2 / span 2;
  }
}

.colors__color-title {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  @include font(1.75rem, 500, 128.5%);
  text-transform: uppercase;
}

@media screen and (max-width: $desktop-md) {
  .colors__container {
    @include padding-horizontal(0);
  }

  .colors__grid {
    border-radius: 0;
  }
}

@media screen and (max-width: $desktop-sm) {
  .colors__grid {
    grid-template-columns: 200px 200px auto;
  }
}

@media screen and (max-width: $tablet) {
  .colors__grid {
    grid-template-columns: 1fr 1fr;
  }

  .colors__color-box {
    height: 11.25rem;

    &:nth-child(3) {
      grid-column: 1 / span 2;
    }

    &:nth-child(5) {
      grid-column: 2 / span 1;
    }
  }
}
