@font-face {
  font-family: 'Random Grotesque';
  src:
    url('../../fonts/random-grotesque/RG-StandardMedium.woff') format('woff'),
    url('../../fonts/random-grotesque/RG-StandardMedium.woff2') format('woff2'),
    url('../../fonts/random-grotesque/RG-StandardMedium.ttf') format('truetype'),
    url('../../fonts/random-grotesque/RG-StandardMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
