@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($direction, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size, $weight, $line-height: inherit) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin circle($size, $color: transparent) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;
}

@mixin padding-horizontal($padding-left, $padding-right: $padding-left) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

@mixin padding-vertical($padding-top, $padding-bottom: $padding-top) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
