$white: #ffffff;
$gray: #f3f4f6;
$gray-4: #dee2e6;
$dark: #111928;
$dark-2: #1f2a37;
$dark-3: #374151;
$dark-4: #4b5563;
$dark-5: #6b7280;
$dark-6: #9ca3af;

$border-radius: 40px;

$padding-hr-desktop: 40px;
$padding-hr-tablet: 20px;
$padding-hr-mobile: 16px;

$desktop-md: 1440px;
$desktop-sm: 1024px;
$tablet: 740px;
$mobile: 430px;
