@use '@/app/assets/scss/utils' as *;

.client-feedback__container {
  @include padding-horizontal($padding-hr-desktop);
}

.client-feedback__content {
  max-width: 900px;
  margin: 0 auto;
  @include flex(column);
  gap: 12px;
}

.client-feedback__box {
  @include flex(column);
  gap: 32px;
}

.client-feedback__quote {
  @include font(28px, 500, 36px);
  font-family: 'Random Grotesque';
}

.client-feedback__title {
  @include font(16px, 400, 23px);
  color: $dark-4;
}

.client-feedback__client-info {
  @include flex(row);
  gap: 16px;
}

.client-feedback__info-box {
  @include flex(column);
  gap: 4px;
}

.client-feedback__name {
  @include font(16px, 600, 23px);
}

.client-feedback__details {
  @include font(16px, 600, 23px);
  color: $dark-5;
}

.client-feedback__client-photo {
  @include circle(60px);
}

@media screen and (max-width: $desktop-sm) {
  .client-feedback__container {
    @include padding-horizontal($padding-hr-tablet);
  }
}

@media screen and (max-width: $tablet) {
  .client-feedback__container {
    @include padding-horizontal($padding-hr-mobile);
  }
}

@media screen and (max-width: $mobile) {
  .client-feedback__quote {
    @include font(18px, 600, 26px);
    font-family: 'Manrope', sans-serif;
  }
}
