@use '@/app/assets/scss/utils' as *;

.client-feedback__container {
  @include padding-horizontal($padding-hr-desktop);
}

.client-feedback__content {
  max-width: 56.25rem;
  margin: 0 auto;
  @include flex(column);
  gap: 0.75rem;
}

.client-feedback__box {
  @include flex(column);
  gap: 2rem;
}

.client-feedback__quote {
  @include font(1.75rem, 500, 128.5%);
  font-family: 'Random Grotesque';
}

.client-feedback__title {
  @include font(1rem, 400, 144%);
  color: $dark-4;
}

.client-feedback__client-info {
  @include flex(row);
  gap: 1rem;
}

.client-feedback__info-box {
  @include flex(column);
  gap: 0.25rem;
}

.client-feedback__name {
  @include font(1rem, 600, 144%);
}

.client-feedback__details {
  @include font(1rem, 600, 144%);
  color: $dark-5;
}

.client-feedback__client-photo {
  @include circle(3.75rem);
}

@media screen and (max-width: $desktop-sm) {
  .client-feedback__container {
    @include padding-horizontal($padding-hr-tablet);
  }
}

@media screen and (max-width: $tablet) {
  .client-feedback__container {
    @include padding-horizontal($padding-hr-mobile);
  }
}

@media screen and (max-width: $mobile) {
  .client-feedback__quote {
    @include font(1.125rem, 600, 144%);
    font-family: 'Manrope', sans-serif;
  }
}
