@use '../../../app/assets/scss/utils' as *;

.dropdown {
  @include size(70px, 37px);
}

.dropdown_transition {
  width: 95px;
  transition:
    width 0.3s ease-in 0.4s,
    height 0.3s ease-in 0s;

  &.dropdown_transition-opened {
    width: 250px;
    height: 110px;
    transition:
      width 0.3s ease-in,
      height 0.3s ease-in 0.4s;
  }

  & .dropdown__item_active {
    @include flex(row, space-between);
  }

  & .dropdown__container {
    width: 95px;
    @include padding-horizontal(0);
    transition:
      width 0.3s ease-in 0.4s,
      height 0.3s ease-in 0s;
  }

  & .dropdown__container_opened {
    width: 250px;
    transition:
      width 0.3s ease-in,
      height 0.3s ease-in 0.4s;
  }

  & .dropdown__item_active::after {
    background-color: $gray-2;
    @include size(25px);
    @include flex(column, center, center);
    border-radius: 50%;
    position: relative;
    top: -3px;
  }
}

.dropdown__container {
  @include size(100%);
  transition: all 0.2s ease-in;
  background-color: $white;
  border-radius: 20px;
  overflow: hidden;
  @include padding-horizontal(12px);

  &.dropdown__container_opened {
    height: 110px;
  }
}

.dropdown__button {
  padding: 8px 0;
  cursor: pointer;
}

.dropdown__item {
  @include font(16px, 500, 22px);
  font-family: 'Random Grotesque';
  cursor: pointer;
  transition: color 0.5s ease;
  text-wrap: nowrap;

  &:hover {
    color: $dark;
  }
}

.dropdown__item_active {
  @include flex(row);
  gap: 8px;
  text-transform: uppercase;

  &::after {
    content: url(../../assets/icons/chevron-down.svg);
    transition: all 0.4s ease;
  }

  &.dropdown__icon-rotate::after {
    transform: rotate(-180deg);
  }
}

.dropdown__items {
  @include flex(column);
  gap: 8px;
  color: $dark-5;

  &.dropdown__items_uppercase {
    text-transform: uppercase;
  }
}

.dropdown__line {
  height: 1px;
  background-color: $dark-6;
}
