@use '@/app/assets/scss/utils' as *;

.close-button {
  position: absolute;
  top: 16px;
  right: 20px;
  @include flex(column, center, center);
  @include size(48px);
  cursor: pointer;
  z-index: 9999;
}
