@use '@/app/assets/scss/utils' as *;

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  @include flex(column, center, center);
  @include size(3rem);
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.4s ease;

  & svg path {
    transition: all 0.4s ease;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover svg path {
    stroke: $dark;
  }
}
