@use '@/app/assets/scss/utils' as *;

.button-primary {
  width: min-content;
  min-height: 2.875rem;
  @include flex(column, center, center);
  @include padding-horizontal(1.5rem);
  border-radius: $border-radius;
  border: 1px solid $dark;
  cursor: pointer;

  &:hover .button-primary__inner {
    transform: translateY(-1.375rem);
  }
}

.button-primary__inner-wrapper {
  overflow: hidden;
  height: 1.375rem;
}

.button-primary__inner {
  @include flex(column);
  transform: translateY(0);
  transition: all 0.4s ease;
}

.button-primary__text {
  font-family: 'Random Grotesque';
  white-space: nowrap;
  text-transform: uppercase;
  @include font(1rem, 500, 137.5%);
}

@media screen and (max-width: $mobile) {
  .button-primary_hidden {
    display: none;
  }
}
