@use '../../../../app/assets/scss/utils' as *;

.next-project {
  cursor: pointer;

  &:hover .next-project__heading {
    transform: scale(1.05);
  }
}

.next-project__container {
  min-height: 260px;
  position: relative;
  background-size: cover;
  background-position: 50%;
  @include flex(column, center, center);
  z-index: -1;
  @include padding-horizontal($padding-hr-desktop);
}

.next-project__overlay {
  position: absolute;
  @include size(100%);
  background-color: rgba($dark, 0.5);
  z-index: -1;
}

.next-project__content {
  @include flex(column, center, center);
  gap: 28px;
  color: $white;
}

.next-project__heading {
  @include font(16px, 500, 23px);
  text-transform: uppercase;
  transition: transform 0.4s ease;
}

.next-project__title {
  @include font(42px, 500, 50px);
  text-align: center;
}

@media screen and (max-width: $desktop-sm) {
  .next-project__container {
    @include padding-horizontal($padding-hr-tablet);
  }
}

@media screen and (max-width: $tablet) {
  .next-project__container {
    @include padding-horizontal($padding-hr-mobile);
  }
}

@media screen and (max-width: $mobile) {
  .next-project__title {
    @include font(28px, 500, 36px);
  }
}
